<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.activity_manage.Mapper.CommentsMapper">
    <resultMap id="likeUserListResultMap" type="net.minidev.json.JSONObject">
        <result column="likeUserList" jdbcType="OTHER" property="likeUserList" javaType="net.minidev.json.JSONObject" typeHandler="com.example.activity_manage.Handler.JsonTypeHandler"/>
    </resultMap>

    <insert id="addNewComment" parameterType="com.example.activity_manage.Entity.Comments">
        insert into Comment (uid, aid, content,likes,commentTime)
        values (#{uid},#{aid},#{content}, 0 ,#{commentTime})
    </insert>

    <select id="getCommentsToAct" resultType="com.example.activity_manage.Entity.Comments">
        select * from Comment where aid =#{aid}
    </select>

    <select id="getCommentByCid" resultType="com.example.activity_manage.Entity.Comments">
        select *
        from Comment where id = #{cid}
    </select>

    <update id="addLikes">
        update Comment
        set likes = likes + 1,likeUserList = JSON_SET(likeUserList, CONCAT('$."', #{uid}, '"'), #{uid})
        where id =#{cid}
    </update>

    <update id="undoLikes">
        update Comment
        set likes = likes - 1,likeUserList = JSON_SET(likeUserList, CONCAT('$."', #{uid}, '"'), #{uid})
        where id =#{cid}
    </update>

    <select id="getLikeUserList" resultMap="likeUserListResultMap">
        select likeUserList
        from Comment where id = #{cid}
    </select>

    <delete id="deleteComment">
        delete
        from Comment
        where id = #{cid}
    </delete>

    <delete id="deleteAllCommentToAct">
        delete
        from Comment
        where aid = #{aid}
    </delete>
</mapper>