<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.activity_manage.Mapper.UserMapper">
    <resultMap id="actListResultMap" type="net.minidev.json.JSONObject">
        <result column="actList" jdbcType="OTHER" property="actList" javaType="net.minidev.json.JSONObject" typeHandler="com.example.activity_manage.Handler.JsonTypeHandler"/>
    </resultMap>
    <resultMap id="getWantJoinActListResultMap" type="net.minidev.json.JSONObject">
        <result column="wantJoinActList" jdbcType="OTHER" property="wantJoinActList" javaType="net.minidev.json.JSONObject" typeHandler="com.example.activity_manage.Handler.JsonTypeHandler"/>
    </resultMap>
    <insert id="insertUser" parameterType="com.example.activity_manage.Entity.User">
        insert into User(username,passwd,phoneNumber,email,role) values(#{username},#{passwd},#{phoneNumber},#{email},0)
    </insert>

    <select id="selectUserByPhone" resultType="com.example.activity_manage.Entity.User">
        SELECT * FROM User WHERE phoneNumber = #{phoneNumber}
    </select>

    <select id="pageQueryAllUser" resultType="com.example.activity_manage.Entity.VO.GetUserVO">
        SELECT id, username, phoneNumber, email FROM User
    </select>

    <select id="pageQueryAllPhone">
        SELECT phoneNumber FROM User
    </select>

    <update id="setPwd">
        UPDATE User SET passwd = #{passwd} where phoneNumber = #{phoneNumber};
    </update>

    <select id="getUsernameById">
        select username
        from User where id = #{uid};
    </select>

    <select id="getActList" resultMap="actListResultMap">
        select actList
        from User where id = #{uid};
    </select>

    <select id="getWantJoinActList" resultMap="getWantJoinActListResultMap">
        select wantJoinActList
        from User where id = #{uid};
    </select>

    <update id="updateActList">
        update User
        set actList = #{actList, jdbcType=OTHER, typeHandler=com.example.activity_manage.Handler.JsonTypeHandler}
        where id = #{uid};
    </update>
    <update id="updateWantJoinActList">
        update User
        set wantJoinActList = #{wantJoinActList, jdbcType=OTHER, typeHandler=com.example.activity_manage.Handler.JsonTypeHandler}
        where id = #{uid};
    </update>

    <select id="getPhoneByUid">
        select phoneNumber
        from User where id = #{uid};
    </select>

    <select id="getUserInfo" resultType="com.example.activity_manage.Entity.VO.UserInfoVO">
        select id,username,phoneNumber,email,role
        from User where id = #{uid};
    </select>
</mapper>