<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.activity_manage.Mapper.UserMapper">
    <insert id="insertUser" parameterType="com.example.activity_manage.Entity.User">
        insert into User(username,passwd,phoneNumber,email,role) values(#{username},#{passwd},#{phoneNumber},#{email},0)
    </insert>
    <select id="selectUserByPhone" resultType="com.example.activity_manage.Entity.User">
        SELECT * FROM User WHERE phoneNumber = #{phoneNumber}
    </select>
    <select id="pageQueryAllUser" resultType="com.example.activity_manage.Entity.VO.GetUserVO">
        SELECT id, username, phoneNumber, email FROM User
    </select>
    <select id="pageQueryAllPhone">
        SELECT phoneNumber FROM User
    </select>
    <update id="setPwd">
        UPDATE User SET passwd = #{passwd} where phoneNumber = #{phoneNumber};
    </update>
    <select id="getUsernameById">
        select username
        from User where id = #{uid};
    </select>
</mapper>